#image-preview {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px dotted;
  color: #2f8939;
  left: -15px;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  border: 1px dotted #222;
  width: 100px;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
